@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.header {
  padding: 4.2rem 0rem 3.2rem 0rem;
}
.header_wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 4.8rem;
}
.header_logo-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #c92071;
  font-family: "Inter", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.03rem;
  text-decoration: none;
}
.header_logo-img {
  display: block;
}
.header_search {
  position: relative;
  width: 100%;
  max-width: 56rem;
  margin: 0rem 4.8rem 0rem 2.7rem;
}
.header_search-input {
  padding: 1.6rem 6rem 1.6rem 2.4rem;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  background-color: #f5f5f5;
  width: 100%;
}
.header_search-btn {
  position: absolute;
  background: transparent;
  border: none;
  top: 1.6rem;
  right: 1.6rem;
}
.header_profile {
  display: flex;
  align-items: center;
}
.header_profile-register {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  text-decoration: underline;
  cursor: pointer;
}
.header_profile-login {
  color: #f5f5f5;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  text-align: center;
  cursor: pointer;
  background-color: #c92071;
  border: none;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  padding: 1.1rem 3.3rem;
  margin: 0rem 7rem 0rem 3rem;
}
.header_profile-login:hover {
  background-color: #991956;
}
.header_cart {
  cursor: pointer;
}
.header_cart-img {
  display: block;
}
.header_nav-list {
  display: flex;
  gap: 3.2rem;
}
.header_nav-links {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  text-decoration: none;
}
.header_nav-links-active {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
  border-bottom: 2px solid #c92071;
  padding-bottom: 0.3rem;
  letter-spacing: 0.15rem;
  font-size: 1.6rem;
  color: #c92071;
}

.nike__revolution-header {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
  border-bottom: 2px solid #c92071;
  padding-bottom: 0.3rem;
  letter-spacing: 0.15rem;
  font-size: 1.6rem;
  color: #c92071;
}

.presentation {
  background-color: #f5f5f5;
  padding: 8rem 0rem 5.3rem 0rem;
}
.presentation_ofer {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #f6aa1c;
}
.presentation_title {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.6rem;
  letter-spacing: 0.01rem;
  padding: 2rem 0rem;
}
.presentation_text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
}
.presentation_btn {
  color: #f5f5f5;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  text-align: center;
  cursor: pointer;
  background-color: #c92071;
  border: none;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  padding: 1.3rem 6.5rem;
  margin-top: 4rem;
}
.presentation_btn:hover {
  background-color: #991956;
}

.swiper_presentation-slide {
  height: 50rem;
  display: flex;
}

.swiper_presentation-wrapper {
  max-width: 49.5rem;
}

.swiper_presentation-content {
  position: relative;
}
.swiper_presentation-content--img {
  display: block;
  max-height: 64rem;
  width: 64rem;
}
.swiper_presentation-content-rotate {
  transform: rotate(-19.343deg);
}
.swiper_presentation-content--decoration {
  position: absolute;
  content: "";
  top: 0;
  right: 0rem;
  z-index: -1;
}

.swiper-pagination-bullet-active {
  background-color: #c92071;
}

.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0.6rem) !important;
}

.collection {
  padding: 3.8rem 0rem 12.3rem 0rem;
  background-color: #f9f8fe;
}
.collection_discount {
  padding-bottom: 10rem;
}
.collection_discount-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
  padding-bottom: 2rem;
}
.collection_discount-wrapper {
  display: flex;
  gap: 1.2rem;
}
.collection_discount-card {
  max-width: 40.5rem;
  border-radius: 0.8rem;
  background-color: #d8e3f2;
  width: 100%;
  padding: 3.4rem 0rem 3.5rem 3rem;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 0.8rem;
}
.collection_discount-card--sign {
  padding: 0.5rem 1.5rem;
  background-color: #e7ff86;
  border-radius: 3rem;
  max-width: 9.9rem;
}
.collection_discount-card--text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}
.collection_discount-card--title {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
  padding: 1rem 0rem 2rem 0rem;
  max-width: 18.4rem;
}
.collection_discount-card--btn {
  color: #f5f5f5;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: #f5f5f5;
  color: #c92071;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  padding: 1.3rem 4.3rem;
}
.collection_discount-card--btn:hover {
  background-color: #b5b6f2;
  color: #ffffff;
}
.collection_content-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
  text-align: center;
  padding-bottom: 2rem;
}
.collection_content-wrapper {
  display: flex;
  justify-content: center;
  gap: 8.8rem;
}
.collection_content-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}
.collection_content-card:hover svg #Vector {
  transition: 0.3s ease-in-out;
  fill: #c92071;
}
.collection_content-card :not(:hover) {
  transition: 0.3s ease-in-out;
}
.collection_content-card--headphones:hover svg path {
  transition: 0.3s ease-in-out;
  fill: #c92071;
}
.collection_content-card--headphones :not(:hover) {
  transition: 0.3s ease-in-out;
}
.collection_content-card--svg {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  box-shadow: 0rem 0.4rem 2.5rem 0rem rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.collection_content-card--category {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}

@keyframes liftUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.products {
  padding-bottom: 12rem;
  background-color: #f9f8fe;
}
.products_trending {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.products_trending-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}
.products_trending-all {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
  color: #c92071;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}
.products_trending-all--span, .products_trending-all--svg {
  display: flex;
  align-items: center;
}
.products_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.products_wrapper-card {
  width: 100%;
  max-width: 29.2rem;
}
.products_wrapper-card:hover {
  animation: liftUp 1s ease-in-out;
}
.products_wrapper-card--discount {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  padding: 0.5rem 1.5rem;
  background-color: #e7ff86;
  border-radius: 3rem;
  max-width: 9.9rem;
}
.products_wrapper-card--link {
  text-decoration: none;
}
.products_wrapper-card--category {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #8f8f8f;
}
.products_wrapper-card--name {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #474747;
}
.products_wrapper-content {
  height: 32.1rem;
  background-color: #ffffff;
  box-shadow: 0.6rem 1.6rem 3rem 0rem rgba(105, 98, 98, 0.05);
  border-radius: 0.8rem;
  background-repeat: no-repeat;
  background-position-x: -2rem;
  background-position-y: 4rem;
  padding: 2rem 0rem 0rem 2rem;
}
.products_wrapper-details {
  padding: 1.8rem 0rem 1.6rem 0rem;
}
.products_wrapper-price {
  display: flex;
  gap: 1rem;
}
.products_wrapper-price--old {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
  color: #8f8f8f;
  text-decoration: line-through;
}
.products_wrapper-price--new {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}

.special {
  padding: 9rem 0rem 10.5rem 0rem;
}
.special_wrapper {
  display: flex;
  gap: 6.7rem;
}
.special_content {
  position: relative;
}
.special_content-ellipse {
  position: absolute;
  top: -3rem;
  right: 2rem;
  z-index: -1;
}
.special_details-title {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.01rem;
  color: #474747;
  padding: 1.7rem 0rem 2rem 0rem;
}
.special_details-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  color: #474747;
  padding-bottom: 3rem;
}
.special_details-text--special {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  color: #c92071;
}
.special_details-btn {
  color: #f5f5f5;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
  text-align: center;
  cursor: pointer;
  background-color: #c92071;
  border: none;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  padding: 0.9rem 5.9rem;
}
.special_details-btn:hover {
  background-color: #991956;
}

.footer {
  padding: 7.2rem 0rem 2.2rem 0rem;
  background-color: #1f1f1f;
}
.footer_wrapper {
  border-bottom: 0.1rem solid rgba(102, 102, 102, 0.3);
  display: flex;
  padding-bottom: 3.4rem;
  justify-content: space-between;
}
.footer_social {
  width: 100%;
  max-width: 30.7rem;
}
.footer_social-logo {
  display: flex;
  gap: 0.8rem;
}
.footer_social-logo--img {
  display: block;
}
.footer_social-logo--span {
  color: #c92071;
  font-family: "Inter", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.03rem;
  display: block;
  color: #ffffff;
}
.footer_social-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  letter-spacing: 0;
  color: #ffffff;
  padding: 3.5rem 0rem 4rem 0rem;
}
.footer_social-wrapper {
  display: flex;
  gap: 1.6rem;
}
.footer_social-wrapper--links {
  text-decoration: none;
}
.footer_social-wrapper--svg {
  display: block;
}
.footer_info-name {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 2.8rem;
}
.footer_info-list {
  display: flex;
  flex-direction: column;
}
.footer_info-list--links {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
}
.footer_category-name {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 2.8rem;
}
.footer_category-list {
  display: flex;
  flex-direction: column;
}
.footer_category-list--links {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
}
.footer_contacts {
  width: 100%;
  max-width: 23.1rem;
}
.footer_contacts-name {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 2.8rem;
}
.footer_contacts-address {
  padding-bottom: 1.4rem;
}
.footer_contacts-address, .footer_contacts-phone {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  line-height: 2.6rem;
}
.footer_copyrights {
  color: #ffffff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  padding-top: 2.2rem;
  text-align: center;
}

.products-list {
  background-color: #f9f8fe;
}
.products-list_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
.products-list_content {
  display: flex;
  align-items: center;
}
.products-list_content-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.products-list_content-text::after {
  content: "";
  display: block;
  width: 0.8rem;
  height: 0.2rem;
  background-color: #1f1f1f;
}
.products-list_content-amount {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  color: #474747;
  margin-left: 0.8rem;
}
.products-list_sort {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4rem;
  border: 0.1rem solid #474747;
  border-radius: 0.4rem;
  background-color: #f9f8fe;
  padding: 1.6rem 1.5rem;
}
.products-list_sort-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
}
.products-list_sort-span {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  color: #474747;
}
.products-list_sort-img {
  display: flex;
}

.dropdown-all {
  position: relative;
}

.dropdown-selected {
  width: 34.5rem;
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}

.dropdown-wrapper {
  position: absolute;
  display: none;
  z-index: 1;
  flex-direction: column;
  gap: 2.5rem;
  top: 100%;
  left: 0;
}

.dropdown-wrapper.show {
  display: flex;
}

.dropdown-span {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
}

.dropdown_store {
  padding: 1.2rem 1rem !important;
}

.market {
  background-color: #f9f8fe;
  padding: 4rem 0rem 14rem 0rem;
}
.market_content {
  display: flex;
  align-items: flex-start;
}
.market_wrapper {
  width: 100%;
  display: flex;
  gap: 1.4rem;
  flex-wrap: wrap;
  row-gap: 4rem;
}
.market_wrapper-card {
  background-color: #f9f8fe;
  border: 0.4rem;
  box-shadow: 6px 16px 30px 0px rgba(105, 98, 98, 0.05);
  width: calc(33.33% - 1.4rem);
  border-radius: 0.4rem;
}
.market_wrapper-card--deal {
  padding: 2rem 0rem 0rem 2rem;
  height: 5.4rem;
}
.market_wrapper-card--discount {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
  padding: 0.5rem 1.5rem;
  background-color: #e7ff86;
  border-radius: 3rem;
  max-width: 9.9rem;
}
.market_wrapper-card--img {
  display: block;
  max-width: 24.8rem;
  width: 100%;
  margin: 0 auto;
}
.market_wrapper-card--category {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}
.market_wrapper-card--title {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.market_wrapper-price {
  display: flex;
  gap: 1.1rem;
}
.market_wrapper-price--old {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
  text-decoration: line-through;
  color: #8f8f8f;
}
.market_wrapper-price--new {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}

.sidebar {
  background-color: #ffffff;
  max-width: 30.8rem;
  width: 100%;
  padding: 3rem;
  margin-right: 2.8rem;
}
.sidebar_filter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sidebar_filter-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
  border-bottom: 0.1rem solid #cccccc;
  padding-bottom: 2rem;
}
.sidebar_brand-item {
  position: relative;
  display: flex;
  align-items: center;
}
.sidebar_brand-checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.sidebar_brand-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
  padding-bottom: 1rem;
}
.sidebar_brand-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar_brand-label {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
  color: #666666;
  padding-left: 3.5rem;
}
.sidebar_brand-label::before {
  content: "";
  display: block;
  width: 2.1rem;
  height: 2.1rem;
  background-color: #ffffff;
  border: 0.1rem solid #666666;
  border-radius: 0.15rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar_brand-label::after {
  background-image: url("../../icons/checkbox-checked.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  background-color: #c92071;
  border: 0.1rem solid #c92071;
  border-radius: 0.15rem;
  display: block;
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.sidebar_category-text, .sidebar_gender-text, .sidebar_state-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
  padding-bottom: 1rem;
}
.sidebar_state-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar_state-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.sidebar_state-checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.sidebar_state-label {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
  padding-left: 3.5rem;
}
.sidebar_state-label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border: 0.1px solid #666666;
  border-radius: 50%;
  z-index: 1;
}
.sidebar_state-label::before {
  position: absolute;
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  background-image: url("../../icons/circle-checked.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}

.sidebar_brand-checkbox:checked + .sidebar_brand-label::after {
  opacity: 1;
}

.sidebar_state-checkbox:checked + .sidebar_state-label::after {
  opacity: 0;
}

.sidebar_state-checkbox:checked + .sidebar_state-label::before {
  opacity: 1;
}

.dropdown_store {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 1.6rem 1.5rem;
  border: 0.1rem solid #474747;
  border-radius: 0.4rem;
  background-color: transparent;
}

.dropdown-menu_store {
  width: 100%;
  border: 0.1rem solid #474747;
  border-radius: 0.4rem;
}

.dropdown-menu_store li {
  padding: 1rem 0rem;
}

.dropdown-item_store:active {
  background: none;
  color: unset;
}

.dropdown_store-span {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}

.dropdown_store-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
}

.dropdown-item_store {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
}

.dropdown_store::after {
  display: none;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 2rem 0rem 4rem 0rem;
}

.breadcrumb-link {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
}
.breadcrumb-link-first {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  text-decoration: none;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}
.breadcrumb-item-last {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
}

.breadcrumb-item::before {
  font-size: 1.6rem;
}

.nike {
  padding-bottom: 8rem;
}
.nike__wrapper {
  display: flex;
  gap: 4rem;
}
.nike__swiper {
  height: 57rem;
  margin-bottom: 2rem;
}
.nike__swiper-purple {
  background-color: #e2e3ff;
}
.nike__swiper-orange {
  background-color: #ffe8bc;
}
.nike__swiper-pink {
  background-color: #ffc0bc;
}
.nike__swiper-brown {
  background-color: #dec699;
}
.nike__swiper-brownie {
  background-color: #e8dfcf;
}
.nike__swiper-thumbs--wrapper {
  display: flex;
  justify-content: space-between;
}
.nike__swiper-thumbs-content {
  max-width: 11.7rem;
  width: 100%;
  margin-right: 0 !important;
  border: 0.2rem solid transparent;
  border-radius: 0.4rem;
}
.nike__swiper-thumbs--img {
  display: block;
  margin: 0 auto;
  padding: 3rem 0rem;
}
.nike__swiper-btn--next {
  height: 5rem;
  width: 2rem;
}
.nike__swiper-btn--next::after {
  content: "";
}
.nike__swiper-btn--prev {
  height: 5rem;
  width: 2rem;
}
.nike__swiper-btn--prev::after {
  content: "";
}
.nike__slider {
  max-width: 70rem;
  width: 100%;
}
.nike__img {
  max-width: 100%;
  width: 100%;
}
.nike__content {
  max-width: 44rem;
  width: 100%;
}
.nike__title {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
}
.nike__text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
  color: #666666;
  margin: 1rem 0rem;
}
.nike__rating {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.nike__stars {
  display: flex;
  gap: 0.48rem;
}
.nike__review-count {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  border-radius: 4px;
  background: var(--warning, #f6aa1c);
  padding: 0.1rem 1rem;
}
.nike__review-number {
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.4rem;
  letter-spacing: 0.25rem;
}
.nike__amount-reviews {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
  color: #8f8f8f;
}
.nike__price {
  display: flex;
  margin-bottom: 2.2rem;
  align-items: flex-end;
}
.nike__price-currency {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}
.nike__price-actual {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 0.01rem;
  font-weight: 700;
  margin-left: 0.6rem;
}
.nike__price-span {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  margin-right: 1rem;
}
.nike__price-old {
  color: var(--light-gray-2, #ccc);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.075rem;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}
.nike__descr {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.nike__descr-title {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #8f8f8f;
}
.nike__descr-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
}
.nike__size {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.nike__size-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #8f8f8f;
}
.nike__sizes {
  display: flex;
  gap: 1rem;
}
.nike__sizes-btn {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #fff;
  border-radius: 0.4rem;
  border: 0.1rem solid #ccc;
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  transition: all 0.3s ease-in-out;
}
.nike__color {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.nike__color-text {
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #8f8f8f;
}
.nike__colors {
  display: flex;
  gap: 1rem;
}
.nike__colors-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
}
.nike__buy {
  max-width: 22rem;
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  padding: 1.2rem 0rem;
  background-color: #ffb31f;
  color: #1f1f1f;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #fff;
}

.nike__swiper-thumbs-content.active {
  border: 0.2rem solid #c92071;
}

.main-nike {
  background: #f9f8fe;
}

.nike__sizes-btn.active {
  border: 0.1rem solid #c92071;
  background: #c92071;
  color: #fff;
}

.outer-circle {
  transition: all 0.3s ease-in-out;
}

.nike__colors-btn.active .outer-circle {
  stroke: #c92071;
}

.relevant {
  margin-bottom: 12.7rem;
}

.header_wrapper-tablet {
  display: none;
}

@media (max-width: 1260px) {
  .header {
    padding: 4.2rem 1.8rem 3.2rem 1.8rem;
  }
}
@media (max-width: 1224px) {
  .header_search {
    margin: 0rem 3.8rem 0rem 2.7rem;
  }
  .header_profile-login {
    margin: 0rem 3rem 0rem 3rem;
  }
}
@media (max-width: 1176px) {
  .header_search {
    max-width: 48rem;
  }
}
@media (max-width: 1096px) {
  .header_search {
    max-width: 40rem;
  }
}
@media (max-width: 1024px) {
  .header_search {
    max-width: 32rem;
  }
}
@media (max-width: 940px) {
  .header_search {
    max-width: 24rem;
  }
}
@media (max-width: 864px) {
  .header_wrapper {
    display: none;
  }
  .header_wrapper-tablet {
    display: block;
  }
  .header_logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4rem;
  }
  .header_search {
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 564px) {
  .header_logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
  }
  .header_nav {
    justify-content: center;
  }
}
@media (max-width: 472px) {
  .header_nav-list {
    gap: 1.6rem;
  }
}
@media (max-width: 428px) {
  .header_wrapper, .header_wrapper-tablet, .header_nav {
    display: none;
  }
}
@media (max-width: 1260px) {
  .presentation {
    padding: 8rem 1.8rem 5.3rem 1.8rem;
  }
}
@media (max-width: 1110px) {
  .swiper_presentation-slide {
    flex-direction: column-reverse;
    height: -moz-fit-content;
    height: fit-content;
  }
  .swiper_presentation-content {
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    justify-content: center;
  }
  .swiper_presentation-content--img {
    max-width: 60rem;
  }
  .swiper_presentation-content-rotate {
    margin: 1rem 0rem 5rem 0rem;
  }
  .swiper_presentation-wrapper {
    margin: 0 auto 5rem auto;
    text-align: center;
  }
}
@media (max-width: 660px) {
  .swiper_presentation-content--img {
    width: 100%;
  }
}
@media (max-width: 428px) {
  .presentation {
    padding: 0rem 0rem 4rem 0rem;
  }
  .presentation_ofer {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.01rem;
    color: #c92071;
  }
  .presentation_title {
    color: #1f1f1f;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5rem;
    letter-spacing: 0.01rem;
  }
  .presentation_btn {
    width: 100%;
  }
  .swiper_presentation-content {
    background-image: url(../../icons/decoration-swiper.svg);
    background-repeat: no-repeat;
    background-position-x: 35.5rem;
    background-position-y: 2rem;
  }
  .swiper_presentation-content--decoration {
    display: none;
  }
  .swiper_presentation-content-rotate {
    margin: 1rem 0rem 5rem -6rem;
  }
  .swiper_presentation-wrapper {
    max-width: 33.5rem;
    width: 100%;
  }
}
@media (max-width: 390px) {
  .swiper_presentation-content {
    background-position-x: 32.5rem;
  }
}
@media (max-width: 375px) {
  .swiper_presentation-content {
    background-position-x: 31.5rem;
  }
}
@media (max-width: 375px) {
  .swiper_presentation-wrapper {
    max-width: 29.5rem;
  }
  .swiper_presentation-content {
    background-position-x: 32.5rem;
  }
}
@media (max-width: 355px) {
  .swiper_presentation-content {
    background-position-x: 29.5rem;
  }
}
@media (max-width: 330px) {
  .swiper_presentation-content {
    background-position-x: 28.5rem;
  }
}
@media (max-width: 1260px) {
  .collection_discount-text {
    text-align: center;
  }
  .collection_discount-wrapper {
    padding: 0rem 1.8rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 920px) {
  .collection_content-wrapper {
    gap: 5.8rem;
  }
}
@media (max-width: 810px) {
  .collection_content-wrapper {
    gap: 3.8rem;
  }
}
@media (max-width: 710px) {
  .collection_content-wrapper {
    gap: 1.8rem;
  }
}
@media (max-width: 624px) {
  .collection_content-wrapper {
    gap: 4.4rem;
    overflow-x: scroll;
    justify-content: unset;
    white-space: nowrap;
    padding-left: 1.8rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .collection_content::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 428px) {
  .collection {
    padding: 4rem 0rem 8rem 0rem;
  }
  .collection_discount {
    padding-bottom: 8rem;
  }
  .collection_discount-text {
    padding-left: 1.8rem;
    text-align: left;
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
  }
  .collection_discount-card--title {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0.02rem;
    max-width: 19.4rem;
  }
  .collection_content-text {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
    text-align: left;
    padding-left: 1.8rem;
  }
}
.products_trending-text--mobile {
  display: none;
}

@media (max-width: 1290px) {
  .products {
    padding: 0rem 1.8rem 12rem 1.8rem;
  }
  .products_wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 428px) {
  .products {
    padding: 0rem 1.8rem;
  }
  .products_trending {
    align-items: center;
  }
  .products_trending-text {
    display: none;
  }
  .products_trending-text--mobile {
    display: block;
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
  }
  .products_wrapper {
    gap: 0.9rem;
  }
  .products_wrapper-card {
    max-width: 18rem;
  }
  .products_wrapper-card--discount {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
  }
  .products_wrapper-card--name {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0.025rem;
  }
  .products_wrapper-content {
    height: 17.9rem;
    background-image: url(../../img/shoes-product-mobile.png) !important;
    background-position: center;
    background-position-x: 0rem;
    background-position-y: 3rem;
    padding: 1.4rem 0rem 0rem 1.3rem;
  }
  .products_wrapper-price {
    align-items: center;
  }
  .products_wrapper-price--old {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    color: #8f8f8f;
  }
  .products_wrapper-price--new {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
  }
  .products_wrapper-details {
    padding: 1.8rem 0rem 2rem 0rem;
  }
}
@media (max-width: 375px) {
  .products_wrapper-card {
    max-width: 16.3rem;
  }
}
@media (max-width: 375px) {
  .products_wrapper-card {
    max-width: 13.3rem;
  }
  .products_wrapper-content {
    background-position-x: -2rem;
    background-position-y: 4rem;
  }
}
@media (max-width: 1260px) {
  .special_wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0rem 1.8rem;
  }
  .special_details {
    display: flex;
    flex-direction: column;
    max-width: 55rem;
  }
}
@media (max-width: 600px) {
  .special_content {
    width: 100%;
  }
  .special_content-img {
    width: 100%;
  }
  .special_content-ellipse {
    width: 95%;
    top: -4rem;
    right: 0;
  }
  .special_details {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 428px) {
  .special {
    padding: 7rem 0rem 5rem 0rem;
  }
  .special_wrapper {
    gap: 9.2rem;
  }
  .special_details {
    text-align: left;
  }
  .special_details-text {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0.025rem;
    color: #474747;
  }
  .special_details-text--special {
    color: #f6aa1c;
  }
  .special_details-title {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0.02rem;
    color: #474747;
    padding: 1rem 0rem 2rem 0rem;
  }
  .special_details-btn {
    width: 100%;
    max-width: 20rem;
  }
}
@media (max-width: 1260px) {
  .footer_wrapper {
    padding: 0rem 1.8rem 3.4rem 1.8rem;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
    justify-content: unset;
    gap: 5rem;
  }
}
@media (max-width: 1260px) {
  .footer {
    padding: 5rem 0rem 4.6rem 0rem;
  }
  .footer_social-logo {
    align-items: center;
  }
  .footer_social-logo--img {
    width: 2.2rem;
    height: 2.2rem;
  }
  .footer_social-logo--span {
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.02rem;
  }
  .footer_social-text {
    padding: 2rem 0rem 3rem 0rem;
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0.025rem;
    color: #ffffff;
  }
  .footer_social-wrapper {
    gap: 3.2rem;
  }
  .footer_wrapper {
    width: 100%;
    max-width: 36rem;
    gap: 4rem;
  }
  .footer_info {
    font-size: 1.6rem;
    line-height: 3.1rem;
  }
  .footer_info-name {
    padding-bottom: 1rem;
  }
  .footer_category {
    font-size: 1.6rem;
    line-height: 3.1rem;
  }
  .footer_category-name {
    padding-bottom: 1rem;
  }
  .footer_contacts {
    font-size: 1.6rem;
    line-height: 3.1rem;
    max-width: 28.1rem;
  }
  .footer_contacts-name {
    padding-bottom: 1rem;
  }
}
@media (max-width: 375px) {
  .footer_wrapper {
    max-width: 32rem;
    gap: 3rem;
  }
}
@media (max-width: 340px) {
  .footer_wrapper {
    max-width: 31rem;
    gap: 3rem;
  }
}
@media (max-width: 320px) {
  .footer_wrapper {
    max-width: 30rem;
    gap: 3rem;
  }
}
.header_mobile {
  display: none;
}

@media (max-width: 428px) {
  .header {
    position: relative;
    z-index: 4;
    background: #fff;
    padding: 2rem;
  }
  .header_mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .header_mobile-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_mobile-nav {
    background-color: #ffffff;
    width: 100%;
    padding: 3rem;
    max-width: 33.8rem;
    height: calc(100vh - 6.4rem);
    position: absolute;
    z-index: 3;
    top: 6.4rem;
    left: 0rem;
    transform: translateX(-33.8rem);
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header_mobile-nav--text {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.01rem;
    padding-bottom: 2rem;
  }
  .header_mobile-nav--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header_mobile-nav--links {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    text-decoration: none;
  }
  .header_mobile-nav--links-active {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.025rem;
    border-bottom: 2px solid #c92071;
    padding-bottom: 0.3rem;
    letter-spacing: 0.15rem;
    font-size: 1.6rem;
    color: #c92071;
  }
  .header_mobile-nav--wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .header_mobile-nav--content {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    border-top: 1px solid #cccccc;
  }
  .header_mobile-nav--login {
    margin-top: 2rem;
    cursor: pointer;
    color: #f5f5f5;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.01rem;
    text-align: center;
    cursor: pointer;
    background-color: #c92071;
    border: none;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    padding: 0.9rem 0rem;
  }
  .header_mobile-nav--login:hover {
    background-color: #991956;
  }
  .header_mobile-nav--register {
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    cursor: pointer;
    border: none;
    background: transparent;
    text-decoration: underline;
  }
  .header_mobile-search {
    position: relative;
    max-width: 31.5rem;
    height: 0%;
    transform: translateX(-50rem);
    display: none;
  }
  .header_mobile-search--input {
    width: 100%;
    padding: 1.6rem 0rem 1.6rem 2rem;
    border-radius: 0.8rem;
    opacity: 0.04rem;
    border: none;
    outline: none;
    color: #1f1f1f;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    opacity: 0.6;
  }
  .header_mobile-search--btn {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
  }
  .header_mobile-burger {
    position: relative;
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .header_mobile-burger > span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: #1f1f1f;
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
  }
  .header_mobile-wrapper {
    display: flex;
    align-items: center;
  }
  .header_mobile-wrapper--logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .header_mobile-wrapper--img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .header_mobile-wrapper--span {
    color: #c92071;
    font-family: "Inter", sans-serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.01rem;
  }
  .header_mobile-cart {
    display: flex;
    align-items: center;
    gap: 1.3rem;
  }
  .header_mobile-cart--btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .header_mobile-cart--btn svg circle {
    transition: all 0.3s ease-in-out;
  }
  .header_mobile-cart--btn svg path {
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 365px) {
  .header_mobile-nav {
    max-width: 30.8rem;
  }
}
@media (max-width: 320px) {
  .header_mobile-nav {
    max-width: 28.8rem;
  }
}
.header_mobile-burger.active #bar-1 {
  transform: rotate(45deg) translate(3px, 10px);
}

.header_mobile-burger.active #bar-2 {
  opacity: 0;
}

.header_mobile-burger.active #bar-3 {
  transform: rotate(-45deg) translate(3px, -10px);
}

.primary-color-stroke circle,
.primary-color-stroke path {
  stroke: #c92071;
}

.search_mobile-show {
  display: block;
  height: 100%;
  transform: translateX(0rem);
  transition: all 0.5s ease-in-out;
}

.nav-menu-show {
  transform: translateX(0rem);
}

.header__mobile-nav--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  background: #1f1f1f;
  z-index: -1;
  display: none;
}

.header__mobile-nav--overlay.active {
  display: block;
  z-index: 2;
}

@keyframes liftUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body.freeze {
  overflow: hidden;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
  padding: 0;
}/*# sourceMappingURL=style.css.map */