// COMPONENTS
@import "../components/header";
@import "../components/presentation";
@import "../components/collection";
@import "../components/products";
@import "../components/special";
@import "../components/footer";
@import "../components/products-list";
@import "../components/market";

// MEDIA
@import "../media-queries/media-header";
@import "../media-queries/media-presentation";
@import "../media-queries/media-collection";
@import "../media-queries/media-products";
@import "../media-queries/media-special";
@import "../media-queries/media-footer";
@import "../media-queries/media-products-list";
@import "../media-queries/media-market";

// COMPONENT WITH MEDIA
@import "../media-queries/media-header-mobile";

// ANIMATIONS
@import "../scss/animations/btn";
@import "../scss/animations/collection-hover";
@import "../scss/animations/keyframes";

// MIXINS
@import "../scss/mixins/mixins";

// VARIABLES
@import "../scss/variables/variables";

// ELEMENTS
@import "../scss/elements/discount";
@import "../scss/elements/text-ellipsis";

// FONT STYLES
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  max-width: 124rem;
  margin: 0 auto;
  padding: 0;
}
