// COLORS

$dark-gray: #1f1f1f;
$dark-gray2: #474747;
$dark-gray3: #666666;
$light-gray: #8f8f8f;
$light-gray2: #cccccc;
$light-gray3: #f5f5f5;
$white: #ffffff;

$primary: #c92071;
$secondary: #b5b6f2;
$tertiary: #991956;
$error: #ee4266;
$success: #52ca76;
$warning: #f6aa1c;
$primaryG: linear-gradient(180deg, #c92071 0%, #edabca 100%);
$secondaryG: linear-gradient(180deg, #b5b6f2 0%, #efefff 100%);

// EXTRA COLORS

$background: #f9f8fe;
$discount: #e7ff86;
$shop-btn: #ffb31f;
$shop-btn--hover: #cf8900;
$discount-bg: #d8e3f2;

// MEDIA BREAKPOINTS

$breakpoint-xxl: 1320px;
$breakpoint-xl: 1260px;
$breakpoint-lg: 1024px;
$breakpoint-md: 820px;
$breakpoint-smL: 428px;
$breakpoint-smM: 375px;
$breakpoint-smS: 320px;

// BOOTSTRAP BREAKPOINTS

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
