// TYPOGRAPHY

// DESKTOP TITLE

@mixin logo-font {
  color: $primary;
  font-family: "Inter", sans-serif;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.03rem;
}
@mixin logo-mobile-font {
  color: $primary;
  font-family: "Inter", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.01rem;
}

@mixin title-large-h1 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.6rem;
  letter-spacing: 0.01rem;
}
@mixin title-medium-h2 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.01rem;
}
@mixin title-small-h3 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 0.01rem;
}
@mixin title-xsmall-h4 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 0.02rem;
}

// DESKTOP TITLE BOLD

@mixin title-large-bold-h1 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.6rem;
  letter-spacing: 0.01rem;
}
@mixin title-medium-bold-h2 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.01rem;
}
@mixin title-small-bold-h3 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
}
@mixin title-xsmall-bold-h4 {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.02rem;
}

// DESKTOP TEXT

@mixin text-large-p {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}
@mixin text-medium-p {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
}
@mixin text-small-p {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}
@mixin text-xsmall-p {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
}
@mixin text-tinny-p {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

// DESKTOP TEXT INVERTED

@mixin text-large-p-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}
@mixin text-medium-p-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
}
@mixin text-small-p-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}
@mixin text-xsmall-p-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.025rem;
}
@mixin text-tinny-p-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

// DESKTOP TEXT BOLD

@mixin text-large-p-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}
@mixin text-medium-p-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
}
@mixin text-small-p-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
}
@mixin text-xsmall-p-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}
@mixin text-tinny-p-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
}
// DESKTOP TEXT BOLD INVERTED

@mixin text-large-p-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.01rem;
}
@mixin text-medium-p-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: 0.01rem;
}
@mixin text-small-p-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
}
@mixin text-xsmall-p-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}
@mixin text-tinny-p-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
}

// MOBILE TITLE

@mixin display-large {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.01rem;
}
@mixin display-medium {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem;
  letter-spacing: 0.01rem;
}
@mixin display-small {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}
@mixin display-xsmall {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.02rem;
}

// MOBILE TITLE BOLD

@mixin display-large-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.01rem;
}
@mixin display-medium-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.01rem;
}
@mixin display-small-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}
@mixin display-xsmall-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: 0.02rem;
}

// MOBILE TEXT

@mixin display-text-large {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}
@mixin display-text-medium {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}
@mixin display-text-small {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
}
@mixin display-text-xsmall {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
}
@mixin display-text-tinny {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}
// MOBILE TEXT INVERTED

@mixin display-text-large-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}
@mixin display-text-medium-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}
@mixin display-text-small-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
}
@mixin display-text-xsmall-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
}
@mixin display-text-tinny-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}

// MOBILE TEXT BOLD

@mixin display-text-large-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}
@mixin display-text-medium-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.1rem;
}
@mixin display-text-small-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
}
@mixin display-text-xsmall-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
}
@mixin display-text-tinny-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}

// MOBILE TEXT BOLD

@mixin display-text-large-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}
@mixin display-text-medium-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
}
@mixin display-text-small-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.025rem;
}
@mixin display-text-xsmall-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
}
@mixin display-text-tinny-bold-inverted {
  color: $light-gray3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.01rem;
}
@mixin footer-titles {
  color: $white;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@mixin footer-text {
  color: $white;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8rem;
}
@mixin copyrights {
  color: $white;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

@mixin title-large-bold-h1--mobile {
  color: $dark-gray;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: 0.01rem;
}

@mixin h4-title-desktop-bold {
  color: $dark-gray;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.02rem;
}

@mixin font-footer-mobile {
  color: $white;
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02rem;
}

@mixin review-star-number {
  color: #fff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.4rem;
  letter-spacing: 0.25rem;
}
@mixin nike-rev-old-price {
  color: var(--light-gray-2, #ccc);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.075rem;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}
@mixin medium-bold {
  color: var(--dark-gray, #1f1f1f);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
  letter-spacing: 0.075rem;
}
