@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .footer {
    &_wrapper {
      padding: 0rem 1.8rem 3.4rem 1.8rem;
      margin: 0 auto;
      width: 90%;
      flex-wrap: wrap;
      justify-content: unset;
      gap: 5rem;
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .footer {
    padding: 5rem 0rem 4.6rem 0rem;
    &_social {
      &-logo {
        align-items: center;
        &--img {
          width: 2.2rem;
          height: 2.2rem;
        }
        &--span {
          @include font-footer-mobile;
        }
      }
      &-text {
        padding: 2rem 0rem 3rem 0rem;
        @include text-xsmall-p;
        color: $white;
      }
      &-wrapper {
        gap: 3.2rem;
      }
    }
    &_wrapper {
      width: 100%;
      max-width: 36rem;
      gap: 4rem;
    }
    &_info {
      font-size: 1.6rem;
      line-height: 3.1rem;
      &-name {
        padding-bottom: 1rem;
      }
    }
    &_category {
      font-size: 1.6rem;
      line-height: 3.1rem;
      &-name {
        padding-bottom: 1rem;
      }
    }
    &_contacts {
      font-size: 1.6rem;
      line-height: 3.1rem;
      max-width: 28.1rem;
      &-name {
        padding-bottom: 1rem;
      }
    }
  }
}
@media (max-width: $breakpoint-smM) {
  .footer {
    &_wrapper {
      max-width: 32rem;
      gap: 3rem;
    }
  }
}
@media (max-width: 340px) {
  .footer {
    &_wrapper {
      max-width: 31rem;
      gap: 3rem;
    }
  }
}

@media (max-width: $breakpoint-smS) {
  .footer {
    &_wrapper {
      max-width: 30rem;
      gap: 3rem;
    }
  }
}
