@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .collection {
    &_discount {
      &-text {
        text-align: center;
      }
      &-wrapper {
        padding: 0rem 1.8rem;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 920px) {
  .collection {
    &_content {
      &-wrapper {
        width: 71.2rem;
        gap: 2rem;
        overflow-x: auto;
        white-space: nowrap;
      }
      &-card {
        margin-left: 1.8rem;
      }
    }
  }
}
