@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .footer {
    &_wrapper {
      padding: 0rem 1.8rem 3.4rem 1.8rem;
      margin: 0 auto;
      width: 90%;
      flex-wrap: wrap;
      justify-content: unset;
      gap: 5rem;
    }
  }
}
