@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .special {
    &_wrapper {
      flex-direction: column;
      align-items: center;
      padding: 0rem 1.8rem;
    }
    &_details {
      display: flex;
      flex-direction: column;
      max-width: 55rem;
    }
  }
}
@media (max-width: 600px) {
  .special {
    &_content {
      width: 100%;
      &-img {
        width: 100%;
      }
      &-ellipse {
        width: 95%;
        top: -4rem;
        right: 0;
      }
    }
    &_details {
      width: 90%;
      text-align: center;
    }
  }
}

@media (max-width: $breakpoint-smL) {
  .special {
    padding: 7rem 0rem 5rem 0rem;
    &_wrapper {
      gap: 9.2rem;
    }
    &_details {
      text-align: left;
      &-text {
        @include text-xsmall-p;
        color: $dark-gray2;
        &--special {
          color: $warning;
        }
      }
      &-title {
        @include h4-title-desktop-bold;
        color: $dark-gray2;
        padding: 1rem 0rem 2rem 0rem;
      }
      &-btn {
        width: 100%;
        max-width: 20rem;
      }
    }
  }
}
