@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .collection {
    &_discount {
      &-text {
        text-align: center;
      }
      &-wrapper {
        padding: 0rem 1.8rem;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 920px) {
  .collection {
    &_content {
      &-wrapper {
        gap: 5.8rem;
      }
    }
  }
}
@media (max-width: 810px) {
  .collection {
    &_content {
      &-wrapper {
        gap: 3.8rem;
      }
    }
  }
}
@media (max-width: 710px) {
  .collection {
    &_content {
      &-wrapper {
        gap: 1.8rem;
      }
    }
  }
}

@media (max-width: 624px) {
  .collection {
    &_content {
      &-wrapper {
        gap: 4.4rem;
        overflow-x: scroll;
        justify-content: unset;
        white-space: nowrap;
        padding-left: 1.8rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: $breakpoint-smL) {
  .collection {
    padding: 4rem 0rem 8rem 0rem;
    &_discount {
      padding-bottom: 8rem;
      &-text {
        padding-left: 1.8rem;
        text-align: left;
        @include text-small-p-bold;
      }
      &-card {
        &--title {
          @include h4-title-desktop-bold;
          max-width: 19.4rem;
        }
      }
    }
    &_content {
      &-text {
        @include text-small-p-bold;
        text-align: left;
        padding-left: 1.8rem;
      }
    }
  }
}
