@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.header_wrapper-tablet {
  display: none;
}

@media (max-width: $breakpoint-xl) {
  .header {
    padding: 4.2rem 1.8rem 3.2rem 1.8rem;
  }
}
@media (max-width: 1250px) {
  .header {
    &_search {
      margin: 0rem 3.8rem 0rem 2.7rem;
    }
    &_profile {
      &-login {
        margin: 0rem 3rem 0rem 3rem;
      }
      &-register {
        text-wrap: nowrap;
      }
    }
    &_logo {
      &-span {
        text-wrap: nowrap;
      }
    }
  }
}
@media (max-width: 864px) {
  .header {
    &_wrapper {
      display: none;
      &-tablet {
        display: block;
      }
    }
    &_logo {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2.4rem;
    }
    &_search {
      max-width: 100%;
      margin: 0;
    }
  }
}
@media (max-width: 585px) {
  .header {
    &_logo {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;
    }
    &_nav {
      justify-content: center;
    }
  }
}
@media (max-width: 472px) {
  .header {
    z-index: 4;
    &_nav {
      &-list {
        gap: 1.6rem;
      }
    }
  }
}
@media (max-width: 428px) {
  .header {
    &_wrapper,
    &_wrapper-tablet,
    &_nav {
      display: none;
    }
  }
}
@media (max-width: 360px) {
  .header {
    &__cart {
      &-mobile {
        max-width: 29.5rem;
      }
      &-block {
        flex-direction: column;
      }
    }
  }
}
