@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/btn.scss";
@import "../scss/animations/collection-hover";
@import "../scss/elements/discount";

.collection {
  padding: 3.8rem 0rem 12.3rem 0rem;
  background-color: $background;
  &_discount {
    padding-bottom: 10rem;
    &-text {
      @include text-large-p-bold;
      padding-bottom: 2rem;
    }
    &-wrapper {
      display: flex;
      gap: 1.2rem;
    }
    &-card {
      max-width: 40.5rem;
      border-radius: 0.8rem;
      background-color: $discount-bg;
      width: 100%;
      padding: 3.4rem 0rem 3.5rem 3rem;
      background-repeat: no-repeat;
      background-position: right;
      background-position-y: 0.8rem;
      &--sign {
        @include discount;
      }
      &--text {
        @include text-xsmall-p-bold;
      }
      &--title {
        @include title-small-bold-h3;
        padding: 1rem 0rem 2rem 0rem;
        max-width: 18.4rem;
      }
      &--btn {
        @include secondaryButtonHover;
        padding: 1.3rem 4.3rem;
      }
    }
  }
  &_content {
    &-text {
      @include text-large-p-bold;
      text-align: center;
      padding-bottom: 2rem;
    }
    &-wrapper {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 8.8rem;
    }
    &-link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      align-items: center;
    }
    &-card {
      @include collectionSvgHover;
      &--headphones {
        @include collectionSvgHoverHeadphones;
      }
      &--svg {
        width: 10.5rem;
        height: 10.5rem;
        border-radius: 50%;
        box-shadow: 0rem 0.4rem 2.5rem 0rem rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
      }
      &--category {
        @include text-xsmall-p-bold;
      }
    }
  }
}
