@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/btn.scss";

.header {
  padding: 4.2rem 0rem 3.2rem 0rem;
  &_wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 4.8rem;
  }
  &_logo {
    &-link {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      @include logo-font;
      text-decoration: none;
    }
    &-img {
      display: block;
    }
  }
  &_search {
    position: relative;
    width: 100%;
    max-width: 56rem;
    margin: 0rem 4.8rem 0rem 2.7rem;
    &-input {
      padding: 1.6rem 6rem 1.6rem 2.4rem;
      outline: none;
      border: none;
      border-radius: 0.8rem;
      @include text-small-p;
      background-color: $light-gray3;
      width: 100%;
    }
    &-btn {
      position: absolute;
      background: transparent;
      border: none;
      top: 1.6rem;
      right: 1.6rem;
    }
  }
  &_profile {
    display: flex;
    align-items: center;
    position: relative;
    &-register {
      @include text-small-p;
      text-decoration: underline;
      cursor: pointer;
    }
    &-login {
      @include primaryButtonHover;
      padding: 1.1rem 3.3rem;
      margin: 0rem 7rem 0rem 3rem;
    }
  }
  &_cart {
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    &-tablet,
    &-mobile {
      cursor: pointer;
      width: 1.8rem;
      height: 1.8rem;
      position: relative;
    }
    &-img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
    &-amount {
      position: absolute;
      content: "";
      width: 1.7rem;
      height: 1.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $error;
      top: -0.9rem;
      right: -1rem;
      color: var(--white, #fff);
      font-feature-settings: "liga" off, "clig" off;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 150% */
      letter-spacing: 0.5px;
    }
  }
  &_nav {
    &-list {
      display: flex;
      gap: 3.2rem;
    }
    &-links {
      @include text-small-p;
      text-decoration: none;
      &-active {
        @include display-text-small-bold;
        border-bottom: 2px solid $primary;
        padding-bottom: 0.3rem;
        letter-spacing: 0.15rem;
        font-size: 1.6rem;
        color: $primary;
      }
    }
  }
  &__cart {
    &-desktop,
    &-tablet {
      position: absolute;
      content: "";
      top: 100%;
      right: 0;
      padding: 3rem;
      background-color: #fff;
      border-radius: 0.4rem;
      box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      width: 31.5rem;
    }
    &-mobile {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      padding: 3rem;
      background-color: #fff;
      border-radius: 0.4rem;
      box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      max-width: 31.5rem;
      width: 100%;
    }
    &-title {
      @include text-small-p-bold;
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid #ccc;
      margin-bottom: 2rem;
    }
    &-box {
      display: flex;
      gap: 2rem;
    }
    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      max-width: 16.7rem;
      width: 100%;
      &-title {
        color: var(--dark-gray, #1f1f1f);
        font-feature-settings: "liga" off, "clig" off;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.75px;
      }
    }
    &-block {
      display: flex;
      gap: 1rem;
      &--actual {
        @include text-small-p-bold;
        line-height: 2.8rem;
      }
      &--old {
        @include text-small-p;
        font-size: 1.2rem;
        color: #ccc;
        text-decoration: line-through;
      }
    }
    &-img {
      display: flex;
      align-self: baseline;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 0.1rem solid #ccc;
    }
    &-total {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &--item {
        display: flex;
        justify-content: space-between;
      }
      &--remove {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: var(--dark-gray-2, #474747);
        font-feature-settings: "liga" off, "clig" off;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
        letter-spacing: 0.25px;
        text-decoration-line: underline;
      }
      &--check {
        cursor: pointer;
        border-radius: 0.8rem;
        border: none;
        background-color: $primary;
        @include text-small-p-bold;
        color: #fff;
        max-width: 12.7rem;
        width: 100%;
        min-height: 4rem;
        @include primaryButtonHover;
      }
      &-text {
        @include text-small-p-bold;
      }
      &-amount {
        @include text-small-p-bold;
        color: $error;
      }
    }
  }
}

.nike__revolution-header {
  @include display-text-small-bold;
  border-bottom: 2px solid $primary;
  padding-bottom: 0.3rem;
  letter-spacing: 0.15rem;
  font-size: 1.6rem;
  color: $primary;
}

.header__cart-desktop.active {
  z-index: 4;
  opacity: 1;
}
.header__cart-tablet.active {
  z-index: 4;
  opacity: 1;
}
.header__cart-mobile.active {
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
  opacity: 1;
}
.header-logo-login {
  color: var(--primary, #c92071);
  font-family: Inter;
  font-size: 23.988px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}
.header-login {
  padding: 2.5rem 0rem;
}
