@import "../variables/variables";

@mixin collectionSvgHover {
  &:hover svg #Vector {
    transition: 0.3s ease-in-out;
    fill: $primary;
  }
  :not(:hover) {
    transition: 0.3s ease-in-out;
  }
}
@mixin collectionSvgHoverHeadphones {
  &:hover svg path {
    transition: 0.3s ease-in-out;
    fill: $primary;
  }
  :not(:hover) {
    transition: 0.3s ease-in-out;
  }
}
